.main-container {
    height: 100%;
    width: 100%;

    .view-wrapper {
        height: calc(100% - 65px);

        .sidenav-container {
            height: 100%;

            mat-sidenav {
                width: 180px;
                padding: 30px 0 15px 0;
            }

            mat-sidenav-content {
                padding: 10px 0px 10px 10px;
            }
        }
    }
}
