.topbar-container {

    .l-topbar {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
}

mat-toolbar {
    height: 65px;
}
